@import "./foundation/base";

.board-container {
  width: 70vh;
  height: 70vh;
  max-width: 70vw;
  max-height: 70vw;

  @include tablet {
    width: 65vh;
    height: 65vh;
    max-width: 65vw;
    max-height: 65vw;
  }

  @include mobile {
    width: 98vw;
    height: 98vw;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin-bottom: -28px;
  }
  padding-top: 50px;

  @extend .col;
}

.ply-container {
  padding: 3px;
  width: 80px;
  justify-content: "flex-start";
  display: flex;
  @include mobile {
    width: auto;
    white-space: nowrap;
  }

  &:hover {
    background-color: $low-contrast;
  }
}

.selected-ply {
  color: $high-contrast;
}

.index-container {
  margin: 3px;
  width: 35px;

  @include mobile {
    width: auto;
    padding-right: 4px;
    padding-left: 10px;
  }
}

.move-container {
  @extend .row;
  justify-content: flex-start !important;
}

.moves-container {
  @extend .bordered;
  @extend .shadowed;
  background-color: $lower-contrast;
  height: $base-height;
  height: 250px;
  max-height: $base-width;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: -5px;

  font-size: 19px !important;
  font-weight: 400;
  width: 100%;

  @include mobile {
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto !important;
    font-size: 14px !important;
  }
}

.moves {
  @extend .col;

  @include mobile {
    flex-direction: row !important;
  }
}

::-webkit-scrollbar {
  width: 7px;

  @include mobile {
    width: 4px;
    height: 8px;
  }
}

::-webkit-scrollbar-track {
  background: $lowest-contrast;
}

::-webkit-scrollbar-thumb {
  background: rgba($low-contrast, 0.6);
  border-radius: 1px;

  &:hover {
    background: rgba($low-contrast, 0.9);
  }
}

.button-group {
  @extend .row;
  margin: auto;
  align-items: unset;

  & button {
    @extend .base-button;
    padding: 0px 14px 2px 14px;
    font-size: 22px;
    display: table-cell !important;

    @include mobile {
      font-size: 22px;
    }
  }
}
