@import "./foundation/base";

$selected-btn-color: rgba($lowest-contrast, 0.6);

.base-container {
  @extend .row;

  @include mobile {
    flex-direction: column;
  }
}

.control-container {
  @extend .bordered;

  @include mobile {
    width: 95vw;
  }
}

.submission-group {
  @extend .row;
  @extend .bordered;
  background-color: $lower-contrast;
  width: 100%;
}

.submission-title {
  @extend .row;

  @include mobile {
    h4 {
      font-size: 18px;
      margin-top: 2px;
      margin-bottom: 0px;
    }
  }
}

.submission-container {
  @include mobile {
    order: 1;
    width: 100%;
    h3 {
      margin-top: 0px;
      font-size: 18px;
    }
  }

  h3 {
    margin-bottom: 2px;
  }

  @include tablet {
    width: 150px;
  }

  p {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
  }

  a {
    font-size: 12px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }

  @extend .col;
  @extend .stretched;
  background-color: $lowest-contrast;
  margin-right: 5px;
  width: 250px;

  button {
    @extend .col;
    @extend .shadowed;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: none;
    background-color: rgba($low-contrast, 0.1);
    color: $higher-contrast;
    border-radius: 2px;
    transition: 0.15s;
    margin: 1px;
  }

  button:hover {
    background-color: rgba($low-contrast, 0.4);
  }

  .selected {
    box-shadow: none;
    background-color: $selected-btn-color;
  }

  .selected:hover {
    background-color: $selected-btn-color;
  }

  textarea {
    background-color: inherit;
    @extend .bordered;
    @extend .shadowed;
    height: 1.5em;
    width: 100%;

    color: $higher-contrast;
    font-size: 16px;
    padding: 4px;
    resize: none;
    font-family: inherit;
    transition: 0.2s;
  }

  textarea:focus {
    border-color: $higher-contrast;
    height: 7em;
    outline: none;
    @extend .shadowed;
  }

  .submission-button {
    background-color: rgba($low-contrast, 0.3);
    color: $highest-contrast;
  }

  .submission-button:disabled {
    background-color: $lower-contrast;
    color: $high-contrast;
  }

  .correct-label {
    color: #49c32c;
  }

  .incorrect-label {
    color: $survey-feedback-incorrect;
  }
}

.stats-container {
  @extend .bordered;
  @extend .shadowed;
  @extend .col;
  background-color: $lower-contrast;
  padding: 6px;

  h4 {
    line-height: 1em;
    margin: 4px;
  }

  @include mobile {
    width: 94vw;
    margin-top: 1vh;
    flex-direction: row;
    justify-content: space-evenly;
    height: 22px;

    h4 {
      font-size: 14px;
      margin: 0 !important;
    }
  }
}

.stockfish-text {
  color: #53a7a2 !important;
}

.human-text {
  color: #ff8946 !important;
}

.disabled-container {
  background-color: rgba($lowest-contrast, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
